<body style="margin: 0">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background: linear-gradient(to right, #373b44, #4286f4);
    "
  >
    <div style="padding: 30px">
      <h3 style="text-align: center; color: white">Cinnamon Rolls</h3>
      <img
        src="<%=data.cinnamon%>"
        alt=""
        height="300px"
        width="300px"
        style="border-radius: 10px"
      />
    </div>
    <div style="padding: 30px">
      <h3 style="text-align: center; color: white">Yeals Donut</h3>

      <img
        src="<%=data.donut%>"
        alt=""
        height="300px"
        width="300px"
        style="border-radius: 10px"
      />
    </div>
    <div style="padding: 30px">
      <h3 style="text-align: center; color: white">Pumpkin Pie</h3>
      <img
        src="<%=data.pie%>"
        alt=""
        height="300px"
        width="300px"
        style="border-radius: 10px"
      />
    </div>
  </div>
</body>
